.wp-callout-box-icon-button {
  color: #1e1e1e !important;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 8px !important;
  white-space: unset !important;
}

.wp-callout-box-icon-button.is-pressed,
.wp-callout-box-icon-button.is-pressed:hover:not(:disabled) {
  background: #007cba;
  color: white !important;
}

.wp-block-roelmagdaleno-callout-box.icon-next-to-content {
  align-items: flex-start !important;
  flex-wrap: nowrap !important;
}

.wp-callout-box-icon-name {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}

.wp-callout-box-icon.outline svg {
  fill: none;
}

.wp-callout-box-icon-category .components-menu-item__item {
  justify-content: space-between;
  width: 100%;
}

.wp-callout-box-icon-length {
  opacity: .5;
}

.wp-callout-box-setting-box {
  margin-bottom: 20px;
}
