.wp-block-roelmagdaleno-callout-box.has-background {
  display: flex;
  flex-wrap: wrap;
  padding: clamp(1.5rem, 5vw, 2rem);
}

.wp-block-roelmagdaleno-callout-box.icon-next-to-content {
  align-items: flex-start;
  flex-wrap: nowrap;
}

.wp-callout-box__inner-blocks > * {
  margin: 0;
}

.wp-callout-box__inner-blocks {
  display: flex;
  flex-direction: column;
}
