.wp-block-roelmagdaleno-callout-box.has-background {
  display: flex;
  flex-wrap: wrap;
  padding: clamp(1.5rem, 5vw, 2rem);
}

.wp-block-roelmagdaleno-callout-box.icon-next-to-content {
  flex-wrap: nowrap;
}

.wp-block-roelmagdaleno-callout-box p {
  margin: 0;
}
